.signup{
    width:100% ;
    height: 80hv;
    background: #fce3fe;
    padding-top: 100px;
}
.signup-container{
    width:580px ;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.signup-container h1{
    margin:20px 0px ;

}
.signup-fields{
    display: flex;
    flex-direction:column ;
    gap: 29px;
    margin-top: 30px;
}
.signup-fields input{
        width:100% ;
        height: 72px;
        padding-left: 20px;
        border: 1px solid #c9c9c9;
    
        outline: none;
        color: #3c7843;
        font-size: 18px ;
}
.signup-container button{

    width:580px ;
    height: 72px;
    color: white;
    background-color: #3c7843;
    margin-top: 30px;
    border: none;
    font-size:20px ;
    font-weight: 500;
    cursor: pointer;
}
.signup-login{
    color: #6ec359;
    margin-top: 30px;
    font-size:20px ;
    font-weight: 500;
}
.signup-login spn{
    color: #3c7843;
    font-weight: 700;
}
.signup-agree{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    color: #6ec359;
    font-size:20px ;
    font-weight: 500;
}