.home{
    background-color: rgb(101, 202, 169);
    color: #165a17f2;
      display: flex;
      justify-content: space-evenly;
  }
  .navbar {
      display: flex; 
      flex-wrap: wrap;
      justify-content: space-around; 
    }
  
    .navbar ul {
      display: flex; 
      list-style: none; 
     
    }
    
    .navbar li {
      margin-right: 10px; 
      text-decoration: none;
    }
    Link{
      list-style-type: none;
    }
   